  <!-- Document Wrapper
  ============================================= -->
  <div id="wrapper" class="clearfix">

    <%= render 'header' %>

    <%= render 'slider' %>

    <%= render 'content' %>

    <%= render 'footer' %>

  </div><!-- #wrapper end -->

  <!-- Go To Top
  ============================================= -->
  <div id="gotoTop" class="icon-angle-up"></div>
